.heading
{
    box-shadow: 5px 5px 5px yellow;
    padding: 30px;
    margin: 0px;
    font-size: 25px;
}

.copy_right_footer
{
    position: fixed;
    color: powderblue;
    bottom: 0; 
    width: 100%;
    background-color: midnightblue ;
    line-height: 3;
    text-align: center;
}

canvas
{
    border:5px solid grey
    box-shadow: 5px 5px 5px #32a8a0;
    padding: auto;
    margin: 20%;
}

.copy_right_footer
{
    position: fixed;
    color: grey;
    bottom: 0; 
    width: 100%;
    background-color: #32a8a0 ;
    line-height: 3;
    text-align: center;
}